<form [formGroup]="form" (submit)="ajouterVoit()">
  <h1 >Examen TP</h1>
  <br>
  <h3>id</h3>
<input type="text" formControlName="id">
<br>
  <h3>titre</h3>
<input type="text" formControlName="titre">
<br>
  <h3>description</h3>
<input type="text" formControlName="description">
<br>
  <h3>date</h3>
<input type="date" formControlName="date">
<button>ajouter</button>
</form>
<table border="">
  <tr *ngFor="let v of voitures">
    <td>{{v.id}}</td>
    <td>{{v.titre}}</td>
    <td>{{v.description}}</td>
    <td>{{v.date}}</td>
    <td><button (submit)="supprimer(v.id)">supprimer</button></td>
  </tr>
</table>